<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608644022980-i947asd264vpleg4kue67bt0vnu3pvlt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608644022980-i947asd264vpleg4kue67bt0vnu3pvlt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>608644022980-4lpvtgqdeln6d76dkmbeum3r9eoj9m34.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-TF0ZvxwztRsChR0mbfE0Fb0lVXMawpY</string>
	<key>GCM_SENDER_ID</key>
	<string>608644022980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.template1</string>
	<key>PROJECT_ID</key>
	<string>tourbillon-7bd08</string>
	<key>STORAGE_BUCKET</key>
	<string>tourbillon-7bd08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608644022980:ios:b0b8eabe9255a5db6bbf91</string>
</dict>
</plist>